@import "tailwindcss";

@layer base {
}

@theme {
    /* background color  */
    --color-background: oklch(0.1858 0.0113 260.65);
    --color-dark: oklch(0.2264 0 0);

    /* primary color  */
    --color-first-10: oklch(0.8875 0.0322 266.15);
    --color-first-20: oklch(0.811 0.0553 266.74);
    --color-first-30: oklch(0.7146 0.0852 266.07);
    --color-first-40: oklch(0.6179 0.117 265.21);
    --color-first-50: oklch(0.5235 0.1512 264.18);
    --color-first-60: oklch(0.4352 0.182 263.14);
    --color-first-70: oklch(0.3847 0.1561 263.13);
    --color-first-80: oklch(0.3302 0.1306 263.2);
    --color-first-90: oklch(0.2771 0.1036 263.37);
    --color-first-100: oklch(0.2177 0.0748 263.5);
    --color-first-110: oklch(0.1688 0.0488 261.73);

    /* secondary color  */
    --color-second-10: oklch(0.0954 0.0175 253.11);
    --color-second-20: oklch(0.112 0.023 248.78);
    --color-second-30: oklch(0.1281 0.0287 256.42);
    --color-second-40: oklch(0.1419 0.0354 261.02);
    --color-second-50: oklch(0.1565 0.0419 259.14);
    --color-second-60: oklch(0.1688 0.0488 261.73);
    --color-second-70: oklch(0.3339 0.0355 266.78);
    --color-second-80: oklch(0.4822 0.0253 268.16);
    --color-second-90: oklch(0.6229 0.0175 266.21);
    --color-second-100: oklch(0.753 0.011 261.78);
    --color-second-110: oklch(0.8541 0.0059 264.53);
}

@layer components {
  .img-shadow {
    box-shadow: 0px -16px 24px 5px #1018281A;
  }
  .btn-shadow {
    box-shadow: 0px 4px 4px 0px #1D9BF040;
  }
}